@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid" style="margin-bottom:80px;">
    <div class="row" style="padding-bottom:1%">
        <div class="col-md-8">
            <h3 style="color:#6777ef">@localizer["PurchaseLineList"]</h3>
        </div>
    </div>
    <table id="myTable" class="table table-striped" style="background-color:#ffffff">
        <thead>
            <tr>
                <th>@localizer["IdPurchase"]</th>
                <th>@localizer["IdDocument"]</th>
                <th>@localizer["UnitPrice"]</th>
                <th>@localizer["Quantity"]</th>
                <th>@localizer["Discount"]</th>
            </tr>
        </thead>
    </table>
</div>
@section Scripts {
    <script src="~/assets/js/PurchaseLineList.js" asp-append-version="true"></script>
    <partial name="_ValidationScriptsPartial" />
}