<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Al-Fikr</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/assets/bootstrap/bootstrap.min.css">
    <!-- custome CSS -->
    <link rel="stylesheet" href="~/assets/css/style.css">

    <!--font-awesome-->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <style>
        a.cart:hover {
            text-decoration: none;
            color: #d60e96;
        }

        a.cart .cart-basket {
            font-size: .6rem;
            position: absolute;
            top: -6px;
            right: -5px;
            width: 15px;
            height: 15px;
            color: #fff;
            background-color: #418deb;
            border-radius: 50%;
        }

        a.cart {
            width: 20px;
            height: 20px;
            right: 25px;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            min-width: 250px;
            right: 0;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

            .dropdown-content span {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
                text-align:center
            }
        .dropdown:hover .dropdown-content {
            display: block;
        }

        /* Change the background color of the dropdown button when the dropdown content is shown */
        .dropdown:hover .dropbtn {
            background-color: #3e8e41;
        }
        .dropdown {
            position: relative;
            display: inline-block;
        }
    </style>

</head>
<body>
    <div id="top-content">
        <div class="header-container">
            <!-- Start Header -->
            <header class="top-header">
                <!-- Top menu -->
                <div class="top-menu">
                    <div class="container">
                        <div class="row justify-content-between has-border">
                            <!-- Langauge -->
                            <div class="col-4 col-md-4">
                                <div class="language">
                                    <a href="#">
                                        <img src="~/images/flag-en.png" alt="EN" />
                                        <span>Français</span>
                                    </a>
                                </div>
                            </div>
                            <!-- End Langauge -->
                            <!-- Compte -->
                            <div class="col-8 col-md-4">
                                <div class="compte text-right">
                                    @if (@User.FindFirst(claim => claim.Type == System.Security.Claims.ClaimTypes.Role)?.Value == "Admin" || @User.FindFirst(claim => claim.Type == System.Security.Claims.ClaimTypes.Role)?.Value == "User")
                                    {
                                        <div class="dropdown">
                                            <a asp-action="ListPurchaseLine" asp-controller="PurchaseLine" class="cart position-relative d-inline-flex" aria-label="View your shopping cart">
                                                <i class="fas fa fa-shopping-cart fa-lg"></i>
                                                <span id="NbPurchaseLine" class="cart-basket d-flex align-items-center justify-content-center">

                                                </span>
                                            </a>
                                            <div class="card dropdown-content text-left" id="dropdown-content">

                                            </div>
                                        </div>
                                    }
                                    @if (@User.FindFirst(claim => claim.Type == System.Security.Claims.ClaimTypes.Role)?.Value == "Admin")
                                    {
                                        <i class="icon-compte"></i>
                                        <a asp-action="Index" asp-controller="Role">Mon compte</a>
                                    }
                                    else if (@User.FindFirst(claim => claim.Type == System.Security.Claims.ClaimTypes.Role)?.Value == "User")
                                    {
                                        <a asp-action="Index" asp-controller="Role">Mon compte</a>
                                    }
                                    else
                                    {
                                        <a asp-action="Login" asp-controller="Account">Se connecter</a>
                                        <span> / </span>
                                        <a asp-action="UpsertUser" asp-controller="User">S’inscrire</a>
                                    }
                                </div>
                            </div>
                            <!-- End Compte -->
                        </div>
                        <hr>
                    </div>
                </div>
                <!-- End Top menu -->
                <!-- Main menu -->
                <div class="main-menu">
                    <div class="container">
                        <div class="row">
                            <!-- Logo -->
                            <div class="col-12 col-md-3">
                                <div class="logo">
                                    <a asp-action="Index" asp-controller="Home"><img src="~/images/logo.png" alt="Alkifr" /></a>
                                </div>
                            </div>
                            <!-- End Logo -->
                            <!-- Search Form -->
                            <div class="col-12 col-md-9">
                                <div class="search-bloc clearfix">
                                    <form asp-action="Recherche" asp-route-mode="List" asp-controller="Home" method="post">
                                        <div class="input-search">
                                            <input type="text" name="search" id="search">
                                        </div>
                                        <div class="input-submit">
                                            <button type="submit" class="send-form">recherche rapide</button>
                                            <a href="" class="search-filter">recherche avancé</a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- End Search Form -->
                        </div>
                    </div>
                </div>

                <!-- End Main menu -->
            </header>
            <!-- End Header -->
        </div>
        <!-- Other pages to be rendered -->
        <div class="">
            <main role="main">
                @RenderBody()
            </main>
        </div>
      
        <!-- Footer -->
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="menu-footer">
                            <ul>
                                <li>
                                    <a href="#">A propos al fikr</a>
                                </li>
                                <li>
                                    <a href="#">Politique de confidentialité</a>
                                </li>
                                <li>
                                    <a href="#">Conditions d’utilisation</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- End Footer -->
        <!-- End Content -->
    </div>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="~/assets/jquery/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="~/assets/bootstrap/bootstrap.min.js"></script>

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="//cdn.jsdelivr.net/npm/promise-polyfill@8/dist/polyfill.js"></script>

    <script src="~/assets/js/User.js" asp-append-version="true"></script>

    <!-- Check the user role of the site -->
    <script>
        var AppGlobal = {
           "user" : {
                  "role": "@User.FindFirst(claim=>claim.Type==System.Security.Claims.ClaimTypes.Role)?.Value",
                  "Name" : "@User.FindFirst(claim=>claim.Type==System.Security.Claims.ClaimTypes.Name)?.Value"
              },
          };
        $(document).ready(function () {
            if (AppGlobal.user.role == "User" || AppGlobal.user.role == "Admin") {
                $.ajax({
                    url: '/PurchaseLine/NbPurchaseLine',
                    type: 'post',
                    dataType: 'json',
                    cache: false,
                    success: function (response) {
                        $('#NbPurchaseLine').text(response)
                        $.ajax({
                            url: '/PurchaseLine/PurchaseLineUser',
                            type: 'post',
                            dataType: 'json',
                            cache: false,
                            success: function (response) {
                                console.log(response)
                                if (response != null) {
                                    for (var j = 0; j < response.listDocumentPurchased.length; j++) {
                                        for (var i = 0; i < response.listPurchaseLine.length; i++) {
                                            if (response.listDocumentPurchased[j].id == response.listPurchaseLine[i].idDocument) {
                                                $('#dropdown-content').append(`
                                                <div class="row justify-content-center align-content-center p-2">
                                                    <div class="col-md-3 text-center">
                                                        <div class="row justify-content-start align-content-center" style="width:80px;">
                                                            <img src="${"../../uploads/CoverPage/" + response.listDocumentPurchased[j].coverPageName}" class="col-md-12" style="border-radius: 50%; height:50px">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-9">
                                                        <div class="row justify-content-start align-content-center" style="height:25px">
                                                            <span style="font-family: 'Roboto', sans-serif;font-size:15px"><b>${response.listDocumentPurchased[j].originalTitle} </b></span>
                                                        </div>
                                                        <div class="row justify-content-start align-content-center" style="height:25px">
                                                            <span style="font-family: 'Roboto', sans-serif;font-size:12px">${response.listPurchaseLine[i].unitPrice} DT * ${response.listPurchaseLine[i].quantity}</span>
                                                        </div>
                                                    </div>
                                                </div>`
                                                )
                                            }
                                        }
                                    }
                                    $('#dropdown-content').append(`
                                    <div class="row justify-content-center align-content-center p-2">
                                        <div class="col-md-12">
                                            <div class="row justify-content-start align-content-center" style="height:25px">
                                                <span style="font-family: 'Roboto Condensed', sans-serif;font-size:15px;color:coral">
                                                    <b style="color:#7868e6">Total TTC : </b>${response.purchase.amountTTC} DT
                                                </span>
                                            </div>
                                        </div>
                                    </div>`)
                                } else {
                                    $('#dropdown-content').append(`
                                    <div class="row justify-content-center align-content-center p-2">
                                        <div class="col-md-12">
                                            <div class="row justify-content-center align-content-center" style="height:25px">
                                                <span style="font-family: 'Roboto Condensed', sans-serif;font-size:15px;color:coral">
                                                    <b>Panier Vide</b>
                                                </span>
                                            </div>
                                        </div>
                                    </div>`)
                                }
                            },
                            error: function (xhr, error, status) {
                                console.log(error, status);
                            }
                        });
                    },
                    error: function (xhr, error, status) {
                        console.log(error, status);
                    }
                });
            }
        });
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>