@model PortailEbook.Models.Entity.User

<div style="background-color: transparent;
        background-image: url(https://www.sansabalibrary.org/eshelf-research/rylander-laptop.png);
        background-repeat: no-repeat;
        background-position:center;
        background-size:contain">

    <div class="row col-md-12 justify-content-center align-items-center p-4">

        <div class="col-md-7" style="background-color: rgba(255, 255, 255, 0.9);">
            @if (Model == null)
            {
                <div class="text-center p-3">
                    <svg xmlns="http://www.w3.org/2000/svg" width="90" height="90" fill="#4361ee" class="bi bi-person-plus-fill" viewBox="0 0 16 16">
                        <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                        <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z" />
                    </svg>
                </div>
                <hr />
                <h6 class="text-danger text-center p-3">@(PortailEbook.Resource.Resource.TextAddUser)</h6>
            }
            else
            {
                <div>
                    <h3>@(PortailEbook.Resource.Resource.AccountParameter)</h3>
                </div>
                <hr />
                @if (Model.filename == "")
                {
                    <div class="text-center">
                        <img class="rounded-circle" src="~/uploads/user/unknown.png" style="width:200px;height:200px;" alt="Alternate Text" />
                    </div>
                }
                else
                {
                    <div class="text-center">
                        <img class="rounded-circle" src="~/uploads/user/@Model.filename" style="width:200px;height:200px;" alt="Alternate Text" />
                    </div>
                }
                <hr />
            }
            <form id="form" enctype="multipart/form-data">
                <input type="hidden" asp-for="Id" id="Id" />
                <input type="hidden" asp-for="filename" />
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label asp-for="Name"></label>
                        <input asp-for="Name" type="text" id="Name" class="form-control" placeholder="Nom">
                        <span id="validName" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="LastName"></label>
                        <input asp-for="LastName" id="LastName" class="form-control" placeholder="Prénom">
                        <span id="validLastName" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-row">
                    @if (@ViewBag.filename == false || Model == null)
                    {
                        <div class="form-group col-md-6">
                            <label asp-for="Code"></label>
                            <input asp-for="Code" type="text" name="Code" class="form-control" value="@ViewBag.MaxUserId" readonly>
                        </div>
                    }
                    else
                    {
                        <div class="form-group col-md-6">
                            <label asp-for="Code"></label>
                            <input asp-for="Code" type="text" name="Code" class="form-control" readonly>
                        </div>
                    }
                    <div class="form-group col-md-6">
                        <label asp-for="Phone"></label>
                        <input asp-for="Phone" name="Phone" class="form-control" placeholder="+216 26501497">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label asp-for="Email"></label>
                        <input asp-for="Email" class="form-control" placeholder="exemple@gmail.com" id="email" required>
                        <span id="validEmail" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="Password"></label>
                        <div class="input-group flex-nowrap">
                            <input asp-for="Password" class="form-control" placeholder="Password" id="password" aria-label="Username" aria-describedby="addon-wrapping" required>
                            <span class="input-group-text" id="addon-wrapping" style="cursor:pointer">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" id="svgIcon" class="bi bi-eye-fill" viewBox="0 0 16 16">
                                    <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z" />
                                    <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z" />
                                </svg>
                            </span>
                        </div>
                        <span id="validPassword" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Adress"></label>
                    <input asp-for="Adress" class="form-control" placeholder="Monastir, Tunisia" id="adress" required>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label asp-for="Country"></label>
                        <input asp-for="Country" class="form-control" placeholder="CITE OMRANE">
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="PostalCode"></label>
                        <input asp-for="PostalCode" class="form-control" placeholder="5000">
                    </div>
                </div>
                <div class="form-row justify-content-center">
                    @if (@User.FindFirst(claim => claim.Type == System.Security.Claims.ClaimTypes.Role)?.Value == "Admin")
                    {
                        <div class="col-md-6">
                            <div class="form-group">

                                <select asp-for="Profil" class="form-control" placeholder="Profil" id="profil" required>
                                    <option value="">@(PortailEbook.Resource.Resource.SelectProfil)</option>
                                    <option value="Admin">Admin</option>
                                    <option value="User">User</option>
                                </select>
                                <span id="validProfil" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="custom-file">
                                    <input asp-for="Photo" class="custom-file-input" id="inputGroupFile01" name="Photo" accept="image/png, image/jpeg">
                                    <label asp-for="Photo" class="custom-file-label" for="inputGroupFile01">@(PortailEbook.Resource.Resource.ChoosePhoto)</label>
                                    <span id="validFile" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <input asp-for="Profil" class="form-control" placeholder="Profil" value="User" type="hidden" id="profil">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="custom-file">
                                    <input asp-for="Photo" class="custom-file-input" id="inputGroupFile01" name="Photo" accept="image/png, image/jpeg">
                                    <label asp-for="Photo" class="custom-file-label" for="inputGroupFile01">@(PortailEbook.Resource.Resource.ChoosePhoto)</label>
                                    <span id="validFile" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="form-row pb-4">
                    <div class="col-md-6 text-center mt-2">
                        <button type="button" onclick="saveUser()" class="btn btn-primary col-md-12">@(PortailEbook.Resource.Resource.SaveUser)</button>
                    </div>
                    @if (@User.FindFirst(claim => claim.Type == System.Security.Claims.ClaimTypes.Role)?.Value == "Admin")
                    {
                        <div class="text-center col-md-6 mt-2">
                            <button type="button" class="btn btn-primary col-md-12"> <a asp-action="Index" asp-controller="User">@(PortailEbook.Resource.Resource.BackToUsersList)</a> </button>
                        </div>
                    }
                    else if (@User.FindFirst(claim => claim.Type == System.Security.Claims.ClaimTypes.Role)?.Value == null)
                    {
                        <div class="col-md-6 text-center mt-2">
                            <a asp-action="Login" asp-controller="Account" class="btn btn-link col-md-12">
                                @(PortailEbook.Resource.Resource.AlreadyHaveAnAccount)
                            </a>
                        </div>
                    }
                </div>
            </form>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="~/assets/jquery/jquery-3.4.1.min.js"></script>
<script>
    const togglePassword = document.querySelector('#addon-wrapping');
    const password = document.querySelector('#password');

    togglePassword.addEventListener('click', function (e) {
        const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
        password.setAttribute('type', type);
    });

    $(document).ready(function () {
        $("#password").attr("type", "password");
    });
    function saveUser() {
    if ($('#password').val().length > 0 && $('#profil').val().length > 0 && $('#email').val().length > 0 && emailIsValid($('#email').val()) == true && $('#Name').val().length > 0 && $('#LastName').val().length > 0) {
        $('#validPassword').text('')
        $('#validProfil').text('')
        $('#validEmail').text('')
        $('#validName').text('')
        $('#validLastName').text('')

        var form = document.getElementById('form')

        $.ajax({
            url: '/User/UpsertUser',
            type: 'post',
            data: new FormData(form),
            cache: false,
            contentType: false,
            processData: false,
            success: function (response) {
                if (response.success) {
                    const Toast = Swal.mixin({
                        toast: true,
                        position: 'top-end',
                        showConfirmButton: false,
                        timer: 1500,
                        timerProgressBar: true,
                        didOpen: (toast) => {
                            toast.addEventListener('mouseenter', Swal.stopTimer)
                            toast.addEventListener('mouseleave', Swal.resumeTimer)
                        },
                    })
                    if (response.message == "User Updated successfuly") {
                        Toast.fire({
                            icon: 'success',
                            title: 'User Updated successfully',
                        })
                    } else {
                        Toast.fire({
                            icon: 'success',
                            title: 'Signed in successfully',
                        })
                        setTimeout(function () {
                            window.location.href = "/Account/Login"; //will redirect to your blog page (an ex: blog.html)
                        }, 1500);
                    }
                } else {
                    if (response.message == "User already Exists !") {
                        $('#validEmail').text('User already Exists !')
                    } else {
                        const Toast = Swal.mixin({
                            toast: true,
                            position: 'top-end',
                            showConfirmButton: false,
                            timer: 1500,
                            timerProgressBar: true,
                            didOpen: (toast) => {
                                toast.addEventListener('mouseenter', Swal.stopTimer)
                                toast.addEventListener('mouseleave', Swal.resumeTimer)
                            },
                        })
                        Toast.fire({
                            icon: 'error',
                            title: response.message
                        })
                    }
                }
            },
            error: function (xhr, error, status) {
                console.log(error, status);
            }
        });
    }
    else {
        if ($('#password').val().length < 1) {
            $('#validPassword').text('Champ obligatoire')
        } else {
            $('#validPassword').text('')
        }
        if ($('#profil').val().length < 1) {
            $('#validProfil').text('Champ obligatoire')
        } else {
            $('#validProfil').text('')
        }
        if (emailIsValid($('#email').val()) == false || $('#email').val().length < 7) {
            $('#validEmail').text('Invalid Email')
        } else {
            $('#validEmail').text('')
        }
        if ($('#Name').val().length < 1) {
            $('#validName').text('Champ obligatoire')
        } else {
            $('#validName').text('')
        }
        if ($('#LastName').val().length < 1) {
            $('#validLastName').text('Champ obligatoire')
        } else {
            $('#validLastName').text('')
        }
    }
}
</script>
@section Scripts {
    <script src="~/assets/js/User.js" asp-append-version="true"></script>
    <partial name="_ValidationScriptsPartial" />
}
