@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid" style="margin-bottom:80px;">
    <div class="row" style="padding-bottom:1%">
        <div class="col-md-9">
            <h3 style="color:#6777ef">@localizer["EjournalsList"]</h3>
        </div>
        <div class="col-md-3">
            <a asp-action="UpsertEjournal" asp-controller="Ejournal" class="btn btn-primary form-control text-white">
                @localizer["AddEjournal"]
            </a>
        </div>
    </div>
    <table id="myTable" class="table table-striped" style="background-color:#ffffff">
        <thead>
            <tr>
                <th>@localizer["OriginalTitle"]</th>
                <th>@localizer["ISSN"]</th>
                <th>@localizer["Doi"]</th>
                <th>@localizer["Price"]</th>
                <th>@localizer["PublicationDate"]</th>
                <th>Image</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts{
    <script src="~/assets/js/EjournalList.js" asp-append-version="true"></script>
    <partial name="_ValidationScriptsPartial" />
}


