@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid" style="margin-bottom:80px;">
    <div class="row" style="padding-bottom:1%">
        <div class="col-md-9">
            <h3 style="color:#6777ef">Document List</h3>
        </div>
        <div class="col-md-3">
            <a asp-action="UpsertDocument" asp-controller="Document" class="btn btn-primary form-control text-white">
                New Document
            </a>
        </div>
    </div>
    <table id="myTable" class="table table-striped" style="background-color:#ffffff">
        <thead>
            <tr>
                <th>@localizer["Editor"]</th>
                <th>@localizer["Collection"]</th>
                <th>@localizer["Theme"]</th>
                <th>@localizer["Catalogue"]</th>
                <th>@localizer["Doi"]</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
    </table>
</div>


@section Scripts{
    <script src="~/assets/js/DocumentList.js" asp-append-version="true"></script>
    <partial name="_ValidationScriptsPartial" />
}
